<%= f.error_messages %>
<p><%= f.label :title %><br /><%= f.text_field :title %></p>
<%=	category_fields :subject => {:label => 'Single specific association (subject)'}, :root => @root_category, :var_name => :element, :field_name => :category, :include_js => false, :include_styles => true, :selectable => selectable, :single_selection => true %>
<%=	category_fields :subject => {:label => 'Single generic association'}, :var_name => :element, :field_name => :second_category, :include_js => false, :include_styles => false, :selectable => selectable, :single_selection => true %>
<%=	category_fields :subject => {:label => 'Multiple associations'}, :var_name => :element, :field_name => [:category_element_associations, :category], :include_js => false, :include_styles => false, :selectable => selectable, :single_selection => false %>