<h1>Listing elements</h1>

<table border="1">
  <tr>
    <th>Title</th>
    <th>Single Specific Association (Subject)</th>
    <th>Single Generic Association</th>
    <th>Multiple Associations</th>
  </tr>

<% @elements.each do |element| %>
  <tr>
    <td><%=link_to(h(element.title), authorized?(hash_for_edit_element_path) ? edit_element_path(element) : element_path(element)) %></td>
    <td><%=h(element.category.title) if element.category %></td>
    <td><%=h(element.second_category.title) if element.second_category %></td>
    <td>
<%=   render :partial => 'category_element_associations/index', :locals => {:category_associations => element.category_element_associations, :element => element} %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New element', new_element_path %>