<%= display_if_not_blank 'Title', h(@element.title) %>
<%= display_if_not_blank 'Single Specific Association (Subject)', h(@element.category.title) %>
<%= display_if_not_blank 'Single Generic Association', h(@element.second_category.title) %>
<%  associations = @element.category_element_associations
    if !associations.empty? %>
      <p><b>Multiple associations:</b>
<%    authorized_only hash_for_new_element_category_association_path do %>
(<%=    link_to 'new association', new_element_category_association_path(@element) %>)
<%    end %>
<%=   render :partial => 'category_element_associations/index', :locals => {:category_associations => associations, :element => @element} %></p>
<%  end %>
<p><% authorized_only hash_for_edit_element_path do %>
<%=  link_to ts('edit.this'), edit_element_path(@element) %> |
<% end %>
<%= render :partial => 'persistent_links' %>
</p>