<p>
  <b>Title:</b>
  <%=h @element.title %>
</p>

<p>
  <b>Subject:</b>

  <% if not @element.category.nil?%>
    <%=h @element.category.title %>
  <% end %>
</p>

<p>
  <b>Collection:</b>
  <% if not @element.second_category.nil?%>
    <%=h @element.second_category.title %>
  <% end %>
</p>


<%= link_to 'Edit', edit_element_path(@element) %> |
<%= link_to 'Back', elements_path %>