<p>
  <b>Title:</b>
  <%=h @element.title %>
</p>

<p>
  <b>Subject:</b>
  <%=h @element.category.title %>
</p>

<p>
  <b>Collection:</b>
  <%=h @element.second_category.title %>
</p>


<%= link_to 'Edit', edit_element_path(@element) %> |
<%= link_to 'Back', elements_path %>